<mat-card class='container'>
  <marquee class='confirmation'>Your Gift has been sent to your friend. We hope they like it!</marquee>
  <div class="multi-section">
    <img src="./../../../assets/gifting.jpg" />
    <div>
      <h3>From : </h3>
      <table>
          <tr>{{senderDetails.name}}</tr>
          <tr>
            <th>Mail ID </th><td>{{senderDetails.email}}</td>
          </tr>
          </table>
    </div>
  </div>
  
  <div class="multi-section-two">
      <img class="a" src="./../../../assets/takingGift.jpg" />
      <div class="b">
        <h3>To : </h3>
        <table>
          <tr>{{receiverDetails.name}}</tr>
          <tr>
            <th>Mail ID </th><td>{{receiverDetails.email}}</td>
          </tr>
        </table>
      </div>
  </div>
</mat-card>