* {
    background-image: url(./../../../assets/giveGift.jpg);
    font-size: 20px;
}
.container {
    padding : 4%;
    margin-top: 2%;
}
h3 {
   font-family: 'Brush Script MT';
    color : #B00020;
    font-size: 30px;
}
.confirmation {
    font-family: 'Brush Script MT';
    color : #B00020;
    font-size: 40px;
    font-weight: bolder
}