table {
    width: 100%;
    padding-bottom: 2%;
  }

  th.mat-sort-header-sorted {
    color: black;
  }

  table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 16px;
    width: 100%;
  }
  /* .mat-form-field[_ngcontent-c14] */
  
  th {
    font-size: 16px;
    font-family: 'Georgia';
    color:white; 
    background-color: #B00020
  }
  
  td {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  h4{
    font-family: 'Brush Script MT';
    color: #B00020;
    padding-left: 5%;
  }
  .fa {
    font-size: 18px;
    padding-right: 10%;
  }
  
  .fa:hover {
    color: #B00020;
  }
  button {
    margin-top: 5%;
    font-size: 18px;
    color: #B00020;
    background-color: white;
    font-family: Georgia;
  }
  
  button:hover {
    color: white;
    background-color: #B00020; 
  }

  img {
    border-radius: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
  }

  input:not([type]):focus:not([readonly]){
    border-bottom: none !important;
    box-shadow: none !important;
  }
   input {
    border-bottom: none !important;
    outline: none !important;
    border-color: #B00020;
    border-radius: 10%;
  }
  .filter {
    background-color: #fff;
    color: #B00020;
    font-size: 12px;
  }

  .mat-sort-header-stem {
    /* color: white; */
    height: 20px;
    width: 8px;
  }