table {
    width: 100%;
  }

  th {
    font-size: 16px;
    font-family: 'Georgia';
    color:white; 
    background-color: #B00020;
  }
  
  td {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
  }
  