<mat-card class="example-card" *ngIf="giftCard && giftCard.name" (click)="giftCardDetails()">

  <img class='image' mat-card-image src="{{giftCard.imageUrl}}" alt="Image" *ngIf="giftCard.imageUrl">
  <mat-card-header>

    <div class='cardContent'>
      <span class="name">
        {{giftCard.name}}
      </span><br/>
      <span class="star" *ngFor="let stars of starCount">
          <span class="fa fa-star" [ngClass]="stars ? stars: ''"></span>
      </span>
      <br/>
        <span class="brand">Brand : {{giftCard.brand}}</span>

    </div> <br/>
    
  </mat-card-header>

  <mat-card-content>
    <p>
      {{Description}}
    </p>
    <table>
      <tr>
        <td>
          <mat-card-subtitle class="details"> Points : <span class="points"> {{giftCard.points}}</span></mat-card-subtitle>
        </td>
        <td>
          <mat-card-subtitle class="details"> Category : {{giftCard.categoryName}}</mat-card-subtitle>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>