<mat-card class="example-card" *ngIf="giftCard.name">

  <img mat-card-image src="{{giftCard.imageUrl}}" alt="Image" *ngIf="giftCard.imageUrl">
  <mat-card-header>

    <mat-card-title>Name : {{giftCard.name}}</mat-card-title>
    <mat-card-subtitle>Brand : {{giftCard.brand}}</mat-card-subtitle>
  </mat-card-header>

  <mat-card-content>
    <p>
      {{Description}}
    </p>
    <table>
      <tr>
        <td>
          <mat-card-subtitle> Points : {{giftCard.points}}</mat-card-subtitle>
        </td>
        <td>
          <mat-card-subtitle>Price : {{giftCard.price}}</mat-card-subtitle>
        </td>
      </tr>
      <tr>
        <mat-card-subtitle> Category : {{giftCard.categoryName}}</mat-card-subtitle>
      </tr>
    </table>
  </mat-card-content>
</mat-card>