example-container {
  display: flex;
  flex-direction: column;
  font-family: Georgia;
  font-size: 12px;
}

.example-container {
  width: 100%;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 5px;
  opacity: 0.3;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.example-card {
  max-width: 400px;
  border-radius: 8px;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

input {
  color: black;
}

.image {
  margin-top: -7px !important;
  height: 130px;
  width: 110%;
  /* max-height: 200px; */
}

tr,
td {
  text-align: center;
  display: block;
  padding: 0px 0px;
}

.cardContent {
  text-align: center;
  width: 100%
    /* display: block; */
}

.name,
.points,
.checked {
  color: #B00020;
  font-size: 12px;
  font-family: Georgia;
}
.star,
.brand {
  font-size: 10px;
  font-family: Georgia;
}

.details {
  font-family: Georgia;
  font-size: 9px;
}
