

.example-form {
  /* min-width: 150px;
  max-width: 500px; */
  width: 100%;
}

 mat-form-field{
width: 100px;
}  

mat-toolbar{
  color: azure;
  background-color: #B00020;
  font-family: 'Georgia';
  font-weight: 200;
}
h4 {
  font-family: 'Georgia';
}
.example-full-width{
  width: 250px;
  /* width: 100%; */
}
input:not([type]):focus:not([readonly]){
  border-bottom: none !important;
  box-shadow: none !important;
}
 input {
  border-bottom: none !important;
  outline: none !important;
}
input:hover {
  border-bottom: none;
  outline: none !important;
}

mat-card {
  padding: 2%;
  margin: 2%;
}
.mat-form-field {
  font-family: Georgia !important;
  color: #B00020;
}

span {
  margin-top: -10px;
  font-family: Georgia !important;
  font-size: 15px;
}
button {
  margin-top: 5%;
  font-size: 24px;
  color: #B00020;
  background-color: white;
  font-family: Georgia;
}

button:hover {
  color: white;
  background-color: #B00020; 
}

