<h2 class="example-form">
  Add a New Gift
</h2>

<form class="example-form">
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Gift Name">
    <mat-error> Required field </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Gift Description">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Price">
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput placeholder="Brand">
  </mat-form-field>

  <!-- <mat-form-field class="example-full-width">
    <textarea matInput placeholder="Leave a comment"></textarea>
  </mat-form-field> -->
</form>