

.example-form {
  /* min-width: 150px;
  max-width: 500px; */
  width: 100%;
}

 mat-form-field{
width: 100px;
}  


mat-toolbar{
  color: azure;
  background-color: brown;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 200;
}

.example-full-width{
  width: 500px;
  /* width: 100%; */
}
input:not([type]):focus:not([readonly]){
  border-bottom: none !important;
  box-shadow: none !important;
}
 input {
  border-bottom: none !important;
  outline: none !important;
}
input:hover {
  border-bottom: none;
  outline: none !important;
}

mat-card {
  padding: 2%;
  margin: 2%;
}

