<div class="container-fluid">
  <div class="row">
    <!-- Form to add Gift card -->
    <div class="col-6 border">
      <div>
        <mat-toolbar>
          <h3>Add Gift Card</h3>
        </mat-toolbar>
        <button mat-raised-button color="primary"(click)="AddCategory()">Add Category</button>
      </div>
      <div>
        <form [formGroup]="giftForm"  (ngSubmit)="onSave(giftForm)" class="example-form">
          <table>
            <tr>
              <td>
                <mat-form-field class="example-full-width">
                  <input matInput placeholder="Gift Name" formControlName="Name"  [(ngModel)]="giftCard.name">
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!giftForm.get('Name').valid && giftForm.get('Name').touched">Add Name </span>
                </mat-error>
              </td>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Brand Name" formControlName="Brand" [(ngModel)]="giftCard.brand"> 
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!giftForm.get('Brand').valid && giftForm.get('Brand').touched">Add Brand </span>
                </mat-error>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Points" formControlName="Points" [(ngModel)]="giftCard.points">
                  <mat-hint>Points should be greater than 0</mat-hint>  
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!giftForm.get('Points').valid && giftForm.get('Points').touched">Add Points </span>
                </mat-error>
              </td>
              <td>
                <mat-form-field>
                  <mat-select formControlName="categoryName" placeholder="Select Category" [(ngModel)]="giftCard.categoryName">
                    <mat-option *ngFor="let category of categories" [value]=category.name>
                        {{category.name}}
                    </mat-option>
                   
                    
                  </mat-select>
                  <mat-error>
                    <span *ngIf="!giftForm.get('categoryName').valid && giftForm.get('categoryName').touched">Please select
                      any Category !!!</span>
                  </mat-error>
                </mat-form-field>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Price" formControlName="Price" [(ngModel)]="giftCard.price">
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!giftForm.get('Price').valid && giftForm.get('Price').touched">Add Price </span>
                </mat-error>
              </td>
              <td>
                <mat-form-field>
                  <textarea matInput placeholder="Leave a comment" formControlName="Description" [(ngModel)]="giftCard.description"></textarea>
                  <mat-hint>min length should be 5 char. </mat-hint> 
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!giftForm.get('Description').valid && giftForm.get('Description').touched">Add
                    Description </span>
                </mat-error>
              </td>
            </tr>
            <tr>
              <td>
                <mat-form-field>
                  <input matInput placeholder="Image URL" formControlName="ImageUrl" [(ngModel)]="giftCard.imageUrl">
                </mat-form-field>
                <mat-error>
                  <span *ngIf="!giftForm.get('ImageUrl').valid && giftForm.get('ImageUrl').touched">Add
                    ImageUrl </span>
                </mat-error>
              </td>
            </tr>
            <tr>
              <div class="row ml-4">

                <button mat-raised-button color="primary" [disabled]="!giftForm.valid">Save Gift</button>
              </div>
            </tr>
          </table>
        </form>

      </div>

    </div>
    <!-- Showing the preview of the Gift Card -->
    <div class="col-6 ">
        <app-gift-card [giftCard]="giftCard"></app-gift-card>  
      
    </div>
  </div>
</div>