.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin-left: 15%;
    font-family: 'Trade Gothic W01 Bold', sans-serif;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .align-left {
    /* float: left; */
    left: 0;
    /* background-color:lightblue; */
  }

  .align-right {
    /* float: right; */
    right: 0;
    /* background-color: lightgreen; */
  }

  .split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }

  .float-right {
    float: right;
  }