<div class="container">
    <div class="col ">
        <div class="row" >
            <h4> <b> <p > Total Credit : {{this.authService.user.points}} </p></b></h4> 
        </div>
        <div class="row">
            <h1> Welcome to YO YO GIFT PORTAL </h1>
            <p>
                By clicking on the GET POINTS your account will be credited with 500 points .
                As you started buying , sending and receiving the the gift cards to your dear ones ,
                the point will be calculated .
            </p>
        </div>
        <div class="row">
            <button mat-raised-button (click)=getPoints()>
               <h5> Get Points </h5> 
            </button>
        </div>
    </div>
</div>