.contact {
    color : #B00020;
}
.contact:hover {
    color : white
}
.list {
    margin-bottom: 5%;
    width: 100%;

}
img {
    width : 200px;
    height: 400px;
}
.first-heading {
   font-family: 'Brush Script MT';
   font-weight: bold;
   font-size : 45px;
   color: #B00020
}
.second-heading {
    margin-top: 10%;
    font-weight: bold;
    font-size : 35px;
    color: #B00020
}
* {
    font-size : 25px
}
h2 {
    width: 30%;  
    color: #B00020;
    font-family: 'Brush Script MT';
    font-size: 45px;
    font-weight: bolder;
    padding-left: 2%;
}
mat-card {
    background-image: url('./../../../../assets/background.jpg');
  }

  .row {
      margin-top: 2%;
  }

  h3 {
    color: #B00020;
    font-weight: bold;
  }
  .endCaption {
      padding-bottom: 5%;
  }