<main>
  <div class="intro">
    <h3>Fill your dear ones with happiness.</h3>
      <p>
         Welcome to our Site, where we provide you an exciting collection of gifts for your loved ones. Redeem your earned points and select from the amazing wide  pool we have. Besides the gifts, we also provide coupons or passes for movies, spa, trips, etc that can also be gifted.
      </p>
  </div>

  <div class="multi-section">
    <img src="/assets/EarnPoints.jpg" />
    <div>
      <h3>Redeem Points.</h3>
      <p>Blah blah blah Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah</p>
    </div>
  </div>

  <div class="multi-section-two">
      <img class="a" src="/assets/GiveGifts.jpeg" />
      <div class="b">
        <h3>Purchase a Gift</h3>
        <p>Blah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blahBlah blah blah.</p>
      </div>
  </div>

  <div>
    <h3>Ready To Visit our site?</h3>
    <p>Now is the time to give your business a professional website</p>
    <a href="#" class="contact">Visit our Gift Collection </a> 
  </div> 
</main>