<main>
  <div class="intro">
    <h3 class='first-heading' translate>Main.Heading</h3>
      <p translate>
      Main.Content
      </p>
  </div>
  <mat-card class="multi-section list">
<marquee>
  <h2 translate>Main.Popularsection</h2>
</marquee>
  <!-- <app-gift-list [filterType]="'category'" [categoryType]="'Home'"></app-gift-list> -->
  <app-gift-list class="popular" [filterType]="'popularity'" [giftCardCount]="6"></app-gift-list>
</mat-card>

<h2 translate>Main.NewStuff</h2>

  <app-gift-list [filterType]="'date'" [giftCardCount]="6"></app-gift-list>

  <h2 translate>Main.Categories</h2>
<div class="row">
  <div class="col-lg-3">
    <app-category-list (categoryType)="changeCategoryType($event); giftlist.getGifts($event);"></app-category-list>
  </div>
    <div class="col-lg-9">
    <app-gift-list #giftlist [hidden]="categoryType==='All'" [categories]="true" [filterType]="'category'" [categoryType]="categoryType"></app-gift-list>
    <app-gift-list *ngIf="(!categoryType || categoryType === 'All')" [filterType]="'all'"></app-gift-list>
  </div>
</div>

  
  <div class="multi-section">
    <img src="/assets/EarnPoints.jpg" />
    <div>
      <h3 class='second-heading' translate>Main.RedeemPoints</h3>
      <p translate>
      Main.RedeemPointsContent1
      </p>
      <p translate> Main.RedeemPointsContent2</p>
    
    </div>
  </div>

  <div class="multi-section-two">
      <img class="a" src="/assets/GiveGifts.jpeg" />
      <div class="b">
        <h3 class='second-heading' translate>Main.PurchaseGift</h3>
        <p translate>Main.PurchaseGiftContent1</p>
        <p translate>Main.PurchaseGiftContent2 </p>
      </div>
  </div>

  <div>
    <h3>Ready To Visit our site?</h3>
    <p>Happy Gifting :)</p>
    <a href="#" class="contact">Visit our Gift Collection </a> 
  </div> 
</main>