<h4>
  All Users
</h4>
<mat-card>
  <h6>Users Registered</h6>
  <mat-card>
    <div *ngIf="usersArray">
      <app-material-table [tableDataSource]="usersArray" [columns]="matTableColumns" [displayedColumns]="displayedColumns">
      </app-material-table>
    </div>
  </mat-card>
  
  <h6>Admins Registered</h6>
  <mat-card>
    <div *ngIf="usersArray">
      <app-material-table [tableDataSource]="adminsArray" [columns]="matTableColumns" [displayedColumns]="displayedColumns">
      </app-material-table>
    </div>
  </mat-card>
</mat-card>