<!-- <mat-card> -->
    <div class="row flex-row flex-nowrap">
        <div class="row blocks">
            <div class="card-block border-0 col-lg-2" *ngFor="let gift of giftCardsArray">
              <app-gift-card [giftCard]='gift'></app-gift-card>
            </div>
        </div>
    </div>
  <!-- </mat-card> -->

<!-- <div class="flip-card" *ngFor="let gift of giftCardsArray">
    <div class="flip-card-inner" >
      <div class="flip-card-front">
        <img src="{{giftCard.imageUrl}}" alt="Image" *ngIf="giftCard.imageUrl" style="width:300px;height:300px;">
      </div>
      <div class="flip-card-back">
        <h1>{{giftCard.name}}</h1> 
        <p>Brand : {{giftCard.brand}}</p> 
        <p>Price : {{giftCard.price}}</p>
        <p>Category : {{giftCard.categoryName}}</p>
      </div>
    </div>
  </div> -->