header {
  background: url("/assets/anete-lusina-609864-unsplash.jpg");
  background-position: bottom;
  background-size: 100%;
  height: 800px;
  position: relative;
  color: #fff;

}

header .tagline {
  padding-top: 120px;
  position: relative;
  z-index: 2;
  padding-left: 20px;

}

/* .overlapingImg {
  height: 100px;
} */

header h1 {
  font-size: 5rem;
  font-weight: bolder;
  line-height: 4rem;
}

header p {
  width: 40%;
  font-family: 'Brush Script MT';
  font-size: 35px;
}

header a {
  font-size: 20px;
  font-weight: bold;
}

header img {
  top: 600px;
  position: absolute;
  width: 700px;
  height: 550px;
  right: 10%;
  display: block;
  z-index: 9;
}
