<header>
  <div class="tagline">
      
    <h1> YOYO GIFTING PORTAL</h1>
    <p>Give gifts to your dear ones through our portal by just earning reward points and fill them with happiness...</p>
    <div>
        <a href="#" class="contact">GIVE A GIFT</a> 
        <a href="#" class="contact">LEARN MORE</a> 
    </div>
   
  </div>
 
  <img src="/assets/intro.gif" />
 <div class="overlay"></div>

 <ngx-spinner
 bdColor="rgba(51,51,51,0.8)"
 size="medium"
 color="#fff"
 type="ball-scale-multiple">
<p style="font-size: 20px; color: rgb(14, 5, 5)">Loading...</p>
</ngx-spinner>
</header>
