.categoryList {
    cursor: pointer;
    padding : 3%;
}

.list-item {
    border: 3px black inset;
    border-radius: 10%;
    padding-left: 2%;
}
.list-item:hover {
    transform: scale(1.1);
}
.active {
    background-color : #B00020;
    color: #fff;
}
mat-list-item {
    font-family: Georgia !important;
    font-size: 16px !important;
    padding: 1px 1px;
}