/* The animation code */
@keyframes example {
    0%   {left:0px; top:0px; }
    25%  {left:200px; top:0px;}
    100% {left:0px; top:0px;}
}

/* The element to apply the animation to */
.logo {
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    font-size: 24px;
}

.flag {
    margin-bottom: 20%;
}

nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; 
    position: relative;
    width: 100%;
    max-width: 100%;
    /* z-index: 99; */
    align-items: center;
    background-color: #B00020
}


mat-toolbar ul:first-of-type {
    padding-left: 20px;
}



mat-toolbar ul:first-of-type li:first-of-type a {
    color: #eee;
    font-weight: bold;
    font-size: 1.4rem;
   
}
mat-toolbar ul:last-of-type {
    text-align: right;
    padding-right: 20px;
}

.medium-nav {
    text-align: right;
    /* float: right; */
}


mat-toolbar ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 5%;
    align-content: left;
}
mat-toolbar ul li a{
    color: #fff;
    text-decoration: none;
    display: block;

}
mat-toolbar ul:last-of-type li:last-of-type a {
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}
button, b, li{
    font-size: 14px;
    font-family: Georgia ;
}

button:hover {
    color : #B00020;
    cursor: pointer;
}
.user-name:hover {
    color: #fff;
    cursor: pointer;
}
a {
    font-size: 16px;
}
mat-toolbar {
    background-color: #B00020;
    padding-right: 5%;
    padding-top: 1%;
    height: 50px;
}
span {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
}