<nav>
  <ul>
    <li>
      <a id="logo" (click)='home()' class="navbar-brand">
        <span><img id="logo" src="../../../assets/logo.png" height="20px" width="20px"></span>
        YOYO</a>
    </li>
  </ul>
  <ul class="medium-nav">
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
  <ul>
    <li><a *ngIf="isLogged === false" href="javascript:void(0);"   (click)="onLogin()">SignIn</a></li>
    <li><a *ngIf="isLogged === true" href="javascript:void(0);"   (click)="onLogout()">SignOut</a></li>
  </ul>
</nav>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
          <b> ADMIN MENU </b>
          </mat-panel-title>
        </mat-expansion-panel-header>
      
        <p (click)='manageUsers()'>MANAGE USERS</p>
        <p (click)='manageOrders()'>MANAGE ORDERS</p>
        <p (click)='manageGifts()'>MANAGE GIFTS</p>
        <p (click)='addItem()'>ADD ITEMS</p>
        <p (click)='addCategory()'>ADD CATEGORY</p>
      </mat-expansion-panel>
     
