<nav>
  <ul>
    <li>
      <a id="logo" (click)='home()' class="navbar-brand">
        <span><img id="logo" src="../../../assets/logo.png" height="20px" width="20px"></span>
        YOYO</a>
    </li>
  </ul>
  <ul class="medium-nav">
    <li><a href="#">About Us</a></li>
    <li><a href="#">Contact Us</a></li>
  </ul>
  <ul>
    <li><a *ngIf="!this.authService.isUserLoggedIn" href="javascript:void(0);"   (click)="onLogin()">SignIn</a></li>
    <li><a *ngIf="this.authService.isUserLoggedIn" href="javascript:void(0);"   (click)="onLogout()">SignOut</a></li>
    
    <li><button mat-button [matMenuTriggerFor]="menu"><b> ADMIN MENU </b></button>
      <mat-menu #menu="matMenu">
        <button [routerLink]="['/admin/users']" mat-menu-item>MANAGE USERS</button>
        <button [routerLink]="['/admin/orders']" mat-menu-item>MANAGE ORDERS</button>
        <button [routerLink]="['/admin/gifts']" mat-menu-item>MANAGE GIFTS</button>
        <button [routerLink]="['/admin/addCat']"  mat-menu-item>ADD CATEGORY</button>
        <button [routerLink]="['/admin/gifts/new']" mat-menu-item>ADD ITEMS</button>
        <button [routerLink]="['/user/points']" mat-menu-item>GET POINTS</button>
      </mat-menu></li>
  </ul>

</nav>


