/* The animation code */
@keyframes example {
    0%   {left:0px; top:0px; }
    25%  {left:200px; top:0px;}
    100% {left:0px; top:0px;}
}

/* The element to apply the animation to */
#logo {
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    font-size: 30px;
}

nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr; 
    position: relative;
    width: 100%;
    max-width: 100%;
    /* z-index: 99; */
    align-items: center;
    background-color: #B00020
}


nav ul:first-of-type {
    padding-left: 20px;
}



nav ul:first-of-type li:first-of-type a {
    color: #eee;
    font-weight: bold;
    font-size: 1.4rem;
   
}
nav ul:last-of-type {
    text-align: right;
    padding-right: 20px;
}

.medium-nav {
    text-align: right;
}


nav ul li{
    list-style-type: none;
    display: inline-block;
    margin-right: 10px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    display: block;

}
nav ul:last-of-type li:last-of-type a {
    /* background: #6200EE; */
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
}
button, b, li{
    font-size: 20px;
    font-family: Georgia ;
}

button:hover {
    color : #B00020;
    cursor: pointer;
}