/* The animation code */
@keyframes example {
    0%   {left:0px; top:0px; }
    25%  {left:200px; top:0px;}
    100% {left:0px; top:0px;}
}

/* The element to apply the animation to */
#logo {
    position: relative;
    animation-name: example;
    animation-duration: 4s;
}

nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}