<div class="container-fluid">
    <div class="row">
    <mat-card class="example-card row" *ngIf="giftCard.name">
      <div class="col-lg-6" >
        <img class="zoom" mat-card-image src="{{giftCard.imageUrl}}" alt="Image" *ngIf="giftCard.imageUrl">
        <mat-card-title class='name'>{{giftCard.name}}</mat-card-title>
      </div>
      <div class="col-lg-6" >
          <div class="row">
              <button class="fa fa-shopping-bag col-lg-6 contact" (click)='buyNow()'> BUY NOW </button>
              <button class="fa fa-shopping-basket col-lg-6 contact"> ADD TO CART </button>
          </div>
      <mat-card-header>
        <mat-card-subtitle> 
          <span class='title'>Brand : </span><span>{{giftCard.brand}}</span>
        </mat-card-subtitle>
        <mat-card-subtitle>
            <span class='title'>Price : </span><span>{{giftCard.price}}Rs </span>
          </mat-card-subtitle>
        <mat-card-subtitle>
            <span class='title'> Category : </span><span>{{giftCard.categoryName}}</span>
          </mat-card-subtitle>
        <mat-card-subtitle>
          <span>
              {{giftCard.description}} 
          </span> 
        </mat-card-subtitle>
      </mat-card-header>
      <app-gift-review [rating]='4'></app-gift-review>
      </div>
    </mat-card>
    </div>
</div>

