<div class="container-fluid">
    <div class="row">
    <mat-card class="example-card row" *ngIf="giftCard.name">
      <div class="col-lg-6" >
        <img class="zoom" mat-card-image src="{{giftCard.imageUrl}}" alt="Image" *ngIf="giftCard.imageUrl">
        <mat-card-title>{{giftCard.name}}</mat-card-title>
      </div>
      <div class="col-lg-6" >
          <div class="row">
              <button class="fa fa-shopping-bag col-lg-6 contact"> BUY NOW </button>
              <button class="fa fa-shopping-basket col-lg-6 contact"> ADD TO CART </button>
          </div>
      <mat-card-header>
        <mat-card-subtitle>Brand : {{giftCard.brand}}</mat-card-subtitle>
        <mat-card-subtitle>Price : {{giftCard.price}} Rs</mat-card-subtitle>
        <mat-card-subtitle> Category : {{giftCard.categoryName}}</mat-card-subtitle>
        <mat-card-subtitle> {{giftCard.description}} </mat-card-subtitle>
      </mat-card-header>
      <app-gift-review [rating]='giftCard.points'></app-gift-review>
      </div>
    </mat-card>
    </div>
</div>