.zoom {
    padding: 28px;
    /* background-color: green; */
    transition: transform .2s; /* Animation */
    width: 400px;
    height: 500px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }
  body {
    width: 100%;
  }
  span {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

mat-card {
    width: 100%;
      display: flex;
  }
  mat-card-title {
    margin-left : 25%;
  }

  .row {
      margin : 5%;
  }
  button {
    color : #B00020;
    background-color: #ffffff;
    padding: 25px 0 25px 0;
    font-size: 14px;
  }
  .name {
    color : #B00020;
    font-size: 16px;
    font-weight: bold;
  }
  .title {
    font-weight: bold;
  }
  span {
    font-size: 14px;
  }